@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto+Condensed&display=swap');

html {
  margin-top: 20px;
  margin:0;
  background-color: #F7F7F7;
  font-family: 'Roboto Condensed';
  margin: 0;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
