.aboutPage {
  min-height: 79.3vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutContainer {
  height: 60%;
  min-width: 60%;
  max-width: 80%;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #0000001A;
  padding: 50px;
}

.aboutContainer p{
  color: #747C81;
  text-indent: 40px;
  margin: 0;
}

.aboutContainer a{
  color: #747C81;
}

@media only screen and (max-width: 768px) {
  .aboutContainer {
    margin-bottom: 100px;
  }
  .aboutPage {
    margin-bottom: 100px;
    margin-top: 100px;
  }
}
