.navbar {
  background: #DCE1E3;
  width: 100vw;
  height: 8vh;
  max-width: 100%;
  transition: top 0.3s;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow-x: hidden;
  box-shadow: 0px 3px 6px #0000001F;
}

.navbar a {
  color: #747C81;
  width: 8%;
  text-align: center;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
}

.navbar a:link {
  color: #747C81;
  text-decoration: none;

}

.navbar a:visited {
  color: #747C81;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    height: 5vh;
    justify-content: space-around;
  }
  .navbar a {
    width: 20%;
  }
}
