.welcomeSection {
  height: 91vh;
  width: 100vw;
  max-width: 100%;
  background: #747C81;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mainText {
  color: white;
  font-size: 8vmin;
  font-family: 'Roboto Condensed';
}

.subText {
  margin-top: -25px;
  font-size: 2.6vmin;
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed';
}

.subText a {
  color: #DADEE0;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .welcomeSection {
    height: 95vh;
  }
  .mainText {
    font-size: 3.3em;
  }
  .subText {
    font-size: 1.1em;
  }
}
